
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
html,body{
        height: 100%;
        width: 100%;
    }

#string{
    margin-top: 60px;
      height: 500px;   
      width: 100%;
      background-color: black;

    }
svg{
    
    margin: 80px 80px;
    padding: 30px;
    background-color: rgb(211, 195, 195);
}